.about {
  @media (max-width: 768px) {
    width:300px;
  }
}

.aboutText {
  margin-bottom: 2.4rem;
  font-weight: 200;
  @media (max-width: 768px){
    font-size: var(--text-xs);
    max-width:280px;
}

  }

.highlight {
  color: var(--brand);
  font-weight: 700;
}

.links {
  display:flex;
  align-items: center;
  gap: 1.6rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  font-size: var(--text-sm);
  color: var(--brand);
  
}

.highlightFirstLetter:first-letter {
  background: var(--background-light);
  padding: 1rem;
  border-radius: 0.4rem;

  font-size: var(--text-md);
  font-weight: bold;

  margin-right: 0.6rem;

  float: left;
}
